
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataEntry</title>
</head>
<body>
    <div> Data Entered!
    </div>
</body>
</html>
